@import "tailwindcss";

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #09090B;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #09090B;
  color: #ffffff;
  font-family: Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Allow text selection in form elements and editable content */
input,
textarea,
[contenteditable="true"],
[contenteditable="true"] *,
.selectable {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* Custom scrollbar styling */
* {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #333333;
  }

  &::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #909090;
  }

  scrollbar-width: thin;
  scrollbar-color: #707070 #333333;
}

/* Dark theme for select options */
select option {
  background-color: #09090B;
  color: #ffffff;
}

select {
  background-color: #09090B;
  color: #ffffff;
}

/* Custom Loader Spinner */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.3em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.3em 0.3em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.3em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.3em 0.3em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.3em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.3em -0.3em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.3em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.3em -0.3em 0 0 currentcolor;
  }
}
