# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore Files and Images directories
/Files/
/Images/
project-scope.md

node_modules
dist
dist-ssr
*.local
.vite
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Files and Images directories
/Project Resources/

# Cursor IDE
.cursor/